bert-for-tf2==0.13.4
gensim==3.8.0
lxml==4.5.0
nltk==3.4.5
numpy==1.22.0
params-flow
pymorphy2==0.8
rusenttokenize==0.0.5
scipy==1.4.1
scikit-learn==0.22.1
spacy-udpipe==0.1.0
tensorflow==2.1.0
tensorflow-probability==0.9.0